@use 'colours';
@use 'typography';

@mixin button {
    border-radius: 1em;
    box-shadow: var(--shadow);
    border: none;
}
.lucy {
    button, .button {
        @include typography.body;
        @include button;
        font-size: 1em;
        font-weight: 300 !important;
        padding: .5em;
        transition: background .4s,
        transform .4s var(--transition),
        font-weight .4s var(--transition);

        .theme-dark & {
            background: var(--dark-secondary);
            color: var(--light-primary);
        }

        .theme-light & {
            background: var(--light-secondary);
            color: var(--dark-primary);
        }

        &:hover {
            transform: scale(1.05);
            font-weight: 450 !important;
        }

        > * {
            transition: transform .4s var(--transition), font-weight .4s var(--transition);
        }

        &:hover > * {
            transform: scale(1.05);
        }
    }
}